html{background-color: #C6C0B7;}

a:link{color: #001040; text-decoration: none;}
a:visited{color: #001040;text-decoration: none;}
a:hover{color: #000000;text-decoration: underline;}

#wrap{min-width:800px;}
#page_header{border: 3px solid black; font-size: 125%; background-color: #D85A1A;}
#login{float:right;}

#login_errors{background-color: #EEEEEE; border: 1px solid red; color: red;}
#register_errors{background-color: #EEEEEE; border: 5px solid red; color: red;}

#page_body{border: 3px solid black; font-size: 100%; background-color: #D85A1A; }

#page_footer{border: 3px solid black; font-size: 150%; background-color: #D85A1A;}


table,th,td{border:1px solid black;}

#table_header{font-size: 150%;}

#thread_name{font-size: 150%; border: 1px solid black;}

#thread_link_name{font-size: 150%; min-width: 400px;}
#thread_link_date{width: 100px;}
#thread_link_count{width: 100px;}

#post_item_content{min-width: 300px}
#post_item_user{font-size: 150%; width: 200px;}
#post_item_date{width: 100px;}

#newpost_form{position: relative; left: 30px;}
#newpost_content{width: 400px; height: 150px;}

#site_info{font-size: 75%;}